@import 'config';

// CUSTOM USER STYLES & IMPORTS

body {
  background-color: #1c1c1c;
  font-weight: 300;
  perspective: 1000px;
}

body, html, * {
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.top-line {
  position: absolute;
  width: 100%;
  padding: 60px 0;
  z-index: 100;

  .container-fluid {
    max-width: 1680px;
  }

  .button {
    @include media-breakpoint-up(md) {
      margin-right: 50px;
    }
    @include media-breakpoint-down(sm) {
      margin-right: 10px;
    }
  }
}

.logo {
  font-size: 26px;
  color: #fff;
  padding: 10px;
  font-weight: bold;

  &:hover {
    text-decoration: none;
    color: #fff;

    span {
      color: $accent;
    }
  }

  span {
    font-weight: 300;
    transition: color 1s ease;
  }

  @include media-breakpoint-up(md) {
    margin-left: 40px;
  }
}

.button {
  display: inline-block;
  background-color: $accent;
  color: #fff;
  padding: 10px 28px;
  border-radius: 10em;
  font-size: 16px;
  font-weight: 400;
  transition: background-color .25s ease;

  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: darken($color: $accent, $amount: 10);
  }
}

.card-header {
  height: 100vh;
  min-height: 700px;
  overflow: hidden;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: url('../images/dest/ukraine.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    opacity: 0.02;

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
}

.content {
  height: 100%;
  padding: 160px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;

  h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    margin-bottom: 38px;

    strong {
      color: $accent;
      white-space: nowrap;

      span {
        font-weight: 300;
        color: #fff;
      }
    }
  }

  h1, p, a {
    padding-left: 20px;
  }
}

.try-link {
  color: $accent;
  font-weight: bold;
  margin-top: 20px;
  display: inline-block;
  font-size: 16px;
  color: $accent;

  &:hover {
    color: #fff;
    text-decoration: none;
  }

  i {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    width: 36px;
    height: 36px;
    color: #fff;
    background-color: $accent;
    border-radius: 100%;
    line-height: 34px;
    text-align: center;
    margin-right: 10px;
  }
}

.card {
  position: relative;
  width: 458px;
  height: 288px;
  display: inline-block;

  &> img {
    position: absolute;
  }

  &-logo {
    z-index: 12;
    top: 45px;
    right: 45px;
    width: 120px;
  }

  &-chip {
    z-index: 12;
    left: 45px;
    top: 80px;
  }

  &-holder {
    z-index: 12;
    left: 45px;
    top: 158px;
  }

  &-valid {
    z-index: 12;
    right: 211px;
    top: 194px;
  }

  &-map {
    z-index: 12;
    left: 40px;
    top: 10px;
    width: 80%;
    opacity: 0.07;
  }

  &-l1_main {
    z-index: 10;
    left: 0;
  }

  &-l2_main {
    z-index: 8;
    left: -10px;
    top: 10px;
  }

  &-l3_main {
    z-index: 6;
    left: -20px;
    top: 20px;
  }
}

.lvl--2 {
  transform: translateZ(-70px);
}

.lvl--1 {
  transform: translateZ(-35px);
}

.lvl-1 {
  transform: translateZ(20px);
}

.lvl-2 {
  transform: translateZ(40px);
}